html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  margin: 0;
}

img {
  width: 100%;
  max-width: 25em;
  display: block;
  margin: 1.5rem;
}

h1 {
  display: inline-block;
  text-align: left;
}

p {
  display: inline-block;
  text-align: left;
  max-width: 25em;
  color: #333;
  font-weight: normal;
  font-family: Lato, sans-serif;
}

div {
  display: inline-block;
}

section {
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin: 0;
}

.btn {
  padding: .4em .5em .75em;
  margin: 0;
  background-color: transparent;
  color: #666;
}

a {
  text-decoration: none;
  border: 3px solid #333;
  padding: .75em;
  border-radius: 7px;
  text-align: left;
  font-family: sans-serif;
  font-weight: normal;
}
