html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  margin: 0;
  text-align: center;
  display: block;
}

img {
  width: 100%;
  display: block;
}

.img {
  max-width: 25em;
  display: inline-block;
  margin: 1.5rem;
}

h2 {
  font-family: Lato, sans-serif;
  margin: 1.5rem;
}

p {
  text-align: left;
  color: #333;
  font-weight: normal;
  font-family: Lato, sans-serif;
  margin: 1.5rem;
}

.text {
  display: inline-block;
  max-width: 25em;
  text-align: left;
}

section {
  display: block;
  padding-top: .4em;
  padding-bottom: .4em;
  width: 100%;
  max-width: 25em;
}

.btn {
  padding: .4em .5em .75em;
  margin: 1.5rem;
  text-align: center;
  background-color: transparent;
  color: #666;
  width: 100%;
}

a {
  text-decoration: none;
  border: 3px solid #333;
  padding: .75em;
  border-radius: 7px;
  font-family: Lato, sans-serif;
  font-weight: normal;
  width: 100%;
}
